body{
  margin:20px 40px;
}

h3{
  margin: 20px 0;
}

#board {
  width: 1105px;
  padding: 10px;
  border: 1px solid grey;
}

.card{
  width: 100px;
  height: 100px;
  float: left;
  margin: 10px;
}

.clear{
  clear: both;
}

.removed{
  border:none;
}