body{
  margin:20px 40px;
}

h3{
  margin: 20px 0;
}

#board {
  width: 835px;
  padding: 10px;
  border: 2px solid #999;
  border-radius: 0.5rem;
  float:left;
}

#matches{
  width:300px;
  margin: 10px 60px;
  float:left;
}

#count{
  float:left;
  margin-left:-23px;
}
#text{
  float:left;
  padding-left: 2px;
}

.card{
  width: 70px;
  height: 100px;
  float: left;
  margin: 10px;
  border: 1px solid #bbb;
  color: #333;
  font-size: 28px;
  padding: 1px 4px;
}

.overlap{
  position: relative;
  margin: 5px 0 0 -25px;
}

.red{
  color: #c00;
}

.clear{
  clear: both;
}

.removed{
  border:none;
}